Options -MultiViews
RewriteEngine On
RewriteBase /

# Fichiers statiques directs
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Ajouter .html si le fichier existe
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Dossier avec index.html
RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.*)/?$ /$1/index.html [L]

# Fallback
RewriteRule ^ /index.html [L]
